.App {
  background-color: #6e7b96;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-text {
  font-size: 4em;
  align-items: center;
  padding-bottom: 0.5em;
  flex: auto;
  font-weight: bold;
  color: black;
}

.description-text {
  font-size: 1.5em;
  color: black;
}

.text-bar {
  padding-top: 5em;
}

.text-reverse-box {
  min-height: 3em;
  background-color: antiquewhite;
  margin: 1em;
  overflow: auto;
}

.text-uppercase-box {
  min-height: 3em;
  background-color:antiquewhite;
  margin: 1em;
  overflow: auto;
}

.text-largertext-box {
  min-height: 5em;
  background-color:antiquewhite;
  margin: 1em;
  overflow: auto;
}

.text-reverse {
  color: black;
  padding-top: 0.5em;
}

.text-uppercase {
  color: black;
  padding-top: 0.5em;
}

.text-largertext {
  font-size: 4em;
  font-weight: bold;
  color: black;
}
